.iu-title {
  font-size: 20px;
  color: #343434;
  margin-bottom: 30px;
  font-weight: 500;
}

.iu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: "Barlow", sans-serif;
}

.iu-content-row {
  display: flex;
  box-sizing: border-box;
  max-width: 440px;
}

.iu-container[min-height~="480px"][min-width~="440px"] .iu-content-row {
  padding: 20px 40px 20px 40px;
}

.iu-container[max-height~="479px"] .iu-content-row, .iu-container[max-width~="439px"] .iu-content-row {
  padding: 10px 20px 10px 20px;
}
