@import url("https://fonts.googleapis.com/css?family=Barlow:200,300,400,500,600,700&display=swap");

.page-container {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-height: 601px) and (min-width: 451px) {
  .page-container {
    overflow-y: auto;
  }
}